# Ignore virtual environments
venv/
venv312/
.venv/
env/

# Ignore secrets and local env files
.env
.env.example

# Ignore version control
.git/
.gitignore

# Ignore caches and python metadata
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Ignore local logs and task records
.system_generated/
*.log
